*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
    background-color: black;
}

h1 {
    align-items: center;
    text-align: center;
    display: flex;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

